
.trash/_Consequentialism is the view that morality is all about producing the right kinds of overall consequences. Here the phrase “overall consequences” of an action means everything the action brings about, including the action itself._.md
.trash/_Consequentialism is the view that morality is all about producing the right kinds of overall consequences. Here the phrase “overall consequences” of an action means everything the action brings about, including the action itself._ 2.md
